*, *::before, *::after {
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

body {
    margin: 0px;
}

:root {
    --dark-gray: hsl(0, 0%, 17%);
    --vr-dark-gray: hsl(0, 0%, 59%);
    --vr-light-gray: hsl(0, 0%, 97%);

    --banner-height: 25vh
}

/* --- Banner CSS --- */
.banner--container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
        
    width: 100%;
    height: var(--banner-height);

    background: url('./images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* - Banner Heading CSS - */
.banner--heading {
    font-size: 2em;
    font-weight: 500;
    color: white;

    margin-top: 1rem;
}

/* - Banner Form CSS - */
.banner--form {
    --height: 3em;
    --border-radius: .4em;

    width: 100%;
    text-align: center;

    font-size: 1em;
}

.banner--form input,
.banner--form button {
    border: none;
    outline: none;

    font-size: inherit;
    padding: .75em 1em;
    
    height: 3em;
}

.banner--form button { cursor: pointer }

.banner--form input {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    
    color: var(--vr-dark-gray);

    width: 30%;

}

.banner--form button {
    background-color: black;
    color: white;

    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* - Banner Card CSS - */
.banner--cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;

    background-color: white;
    border-radius: .4em;

    height: 6em;
    padding: 1em 2em;

    position: absolute;
    bottom: 0;
    z-index: 1;

    transform: translateY(50%);
}

.divider {
    background-color: hsl(0, 0%, 93%);

    height: 80%;
    width: 1.5px;    
}

.banner--card--heading {
    text-transform: uppercase;

    font-size: 0.8em;
    font-weight: 700;

    color: var(--vr-dark-gray);

    margin-bottom: 1em;
}

.banner--card--text {
    text-transform: uppercase;
    
    font-size: 1.2em;
    font-weight: 500;

    color: var(--dark-gray);
}

#mapid {
    z-index: 0;

    width: 100%;
    height: calc(100vh - var(--banner-height));

    background-color: var(--vr-light-gray)
}